pipeline/PL_GAF_EXTRACIO_MENSUAL.json
{
	"name": "PL_GAF_EXTRACIO_MENSUAL",
	"properties": {
		"activities": [
			{
				"name": "PL_GAF_EXTRACCIO",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_GAF_EXTRACCIO",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DATA": {
							"value": "@activity('Set Date').output.firstRow.DATA\n\n",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CONVERT(VARCHAR(6), DATEADD(MONTH, -1, GETDATE()), 112) AS DATA",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASJ_TEST_02",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"A": {
				"type": "String"
			},
			"B": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GAF/EXTRACCIÓ"
		},
		"annotations": []
	}
}