pipeline/PL_XEAC_V2_MLT_DIARI.json
{
	"name": "PL_XEAC_V2_MLT_DIARI",
	"properties": {
		"activities": [
			{
				"name": "PL_XEAC_V2_ODS_MLT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set DATA_FI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_XEAC_V2_ODS_MLT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"P_DATA_INI": {
							"value": "@variables('V_DATA_INI')",
							"type": "Expression"
						},
						"P_DATA_FI": {
							"value": "@variables('V_DATA_FI')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_XEAC_V2_ODS_MLT_CUMPLIMENT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_XEAC_V2_ODS_MLT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_XEAC_V2_ODS_MLT_CUMPLIMENT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"P_DATA_INI": {
							"value": "@variables('V_DATA_INI')",
							"type": "Expression"
						},
						"P_DATA_FI": {
							"value": "@variables('V_DATA_FI')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set DATA_INI",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DATA_INI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_DATA_INI",
					"value": {
						"value": "@string(activity('DATA_INI').output.value[0].DATA)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set DATA_FI",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DATA_FI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_DATA_FI",
					"value": {
						"value": "@string(activity('DATA_FI').output.value[0].DATA)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DATA_INI",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select convert(varchar, (DATEADD(day,1,DATA)), 112) as DATA\nfrom (\nSELECT MAX(DATA) as DATA\nFROM [DM_XEAC].[DM_MLT_COMPLIMENT_v2]\n) a;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DM_MLT_COMPLIMENT_v2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DATA_FI",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set DATA_INI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select convert(varchar, DATEADD(day,-1,MAX(getdate())),112) as DATA;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ODS_MLT_COMPLIMENT_v2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PL_XEAC_V2_DM_MLT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_XEAC_V2_SKG_MLT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_XEAC_V2_DM_MLT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"P_DATA_INI": {
							"value": "@variables('V_DATA_INI')",
							"type": "Expression"
						},
						"P_DATA_FI": {
							"value": "@variables('V_DATA_FI')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_XEAC_V2_DM_MLT_CUMPLIMENT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_XEAC_V2_DM_MLT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_XEAC_V2_DM_MLT_CUMPLIMENT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"P_DATA_INI": {
							"value": "@variables('V_DATA_INI')",
							"type": "Expression"
						},
						"P_DATA_FI": {
							"value": "@variables('V_DATA_FI')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_XEAC_V2_SKG_MLT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_XEAC_V2_ODS_MLT_CUMPLIMENT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_XEAC_V2_SKG_MLT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"V_DATA_INI": {
				"type": "String"
			},
			"V_DATA_FI": {
				"type": "String"
			}
		},
		"folder": {
			"name": "XEAC_v2/MLT"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-27T09:06:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}